
.topnav a {
  display: inline-block;
  margin: 1rem;
  padding: 0.25rem;
  text-decoration: none;
  font-size: 1.2em;
  color: maroon;
  border-bottom: 2px solid maroon;
  transition: 0.1s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: maroon;
  color: white;
}

.home{
  background-color: white;
  text-align: center;
  text-size-adjust: 80%;
  font-size: 60px;
  color: maroon;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 10rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px maroon;
}

.book-title{
  font-size: 14px;
}

.book-img{
  justify-self: center;
  height: 8rem;
  width: auto;
}

.book-author{
  font-size: 10px;
  text-align: center;
}

.container{
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 15rem;
  display: inline-grid;
  margin: 5rem 10rem;
  box-shadow: 3px 4px maroon;
}
.delete{
  background-color: rgb(185, 65, 65);
  color: #ddd;
}